#nav {
    background-color: #2699FB;
    display: flex;
    width: 100%;
    margin: 0;
    ul{
        margin-left: auto;    
    }
    li {
        text-decoration: none;
        display: inline;
        padding: 0 4em;
        color: #ffffff;
        
    }
}