.codeArea {
    flex: 1;
}

.ace{
    width:100% !important;
    height: 100% !important;
}
.submitCode{
    width: 200px;
    height: 60px;
    position: fixed;
    top:90%;
    left: 88%;
    right: 0;
    bottom: 0;
}